aiofiles==25.1.0
aiomysql==0.3.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
APScheduler==3.11.2
async-timeout==5.0.1
bcrypt==5.0.0
bitarray==3.8.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cssselect==1.3.0
dynaconf==3.2.12
fastapi==0.128.0
gne==0.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
jmespath==1.0.1
loguru==0.7.3
lxml==6.0.2
MarkupSafe==3.0.3
numpy==2.4.1
packaging==25.0
parsel==1.10.0
pybloom-live==4.0.0
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.10.1
PyMySQL==1.1.2
pypinyin==0.55.0
python-dotenv==1.2.1
python-multipart==0.0.21
PyYAML==6.0.3
redis==7.1.0
requests==2.32.5
socksio==1.0.0
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.40.0
w3lib==2.3.1
watchfiles==1.1.1
websockets==16.0
win32_setctime==1.2.0
xxhash==3.6.0
cryptography==45.0.3
